﻿@model List<QuizFlag.ViewModel.JogadorVM>
@{
    ViewBag.Title = "Home Page";
}

<h2>Jogadores</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post,
                            new { @class = "form-inline", @role = "form", @id = "form", EncType = "multipart/form-data" }))
{
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Nome Jogador</label>
        @Html.TextBox("NomeJogador", null, new { @class = "form-control", @id = "NomeJogador" })
    </div>
    <button type="submit" class="btn btn-default">Jogar</button>
}

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Pontuação Máxima
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var j in Model)
            {
                <tr>
                    <td>@j.NomeJogador</td>
                    <td>@Html.ActionLink("Resultados", "Resultado", "Quiz", new { idJogador = j.Id }, new { @class="btn btn-link" })</td>
                </tr>
            }
        }
        
    </tbody>
</table>