﻿@model QuizFlag.ViewModel.QuizVM
@{
    ViewBag.Title = "Index";
}

<h2>Qual o país dessa bandeira?</h2>

@using (Html.BeginForm("ProximaQuestao", "Quiz", FormMethod.Post,
            new { @class = "form-horizontal", @role = "form", @id = "form", EncType = "multipart/form-data" }))
{
    @Html.Hidden("idJogador", Model.Jogador.Id)
    @Html.Hidden("idBandeira", Model.Bandeira.Id)
    @Html.Hidden("ordem", Model.Ordem)    

    <div class="form-group">
        <img src="~/Content/flags/@Model.Bandeira.NomeArquivo" />
    </div>
    <div class="form-group">
        @foreach (var o in Model.Opcoes)
        {
            <div class="radio">
                <label>
                    @Html.RadioButton("opcao", o.Id) <text>@o.NomePais.ToString()</text>
                </label>
            </div>
        }
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-default">Responder</button>
        </div>
    </div>

}
