﻿@model List<QuizFlag.ViewModel.QuizVM>
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<table class="table table-responsive table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Nome Jogador
            </th>
            <th>
                País
            </th>
            <th>
                Resposta
            </th>
            <th>Pontuação</th>
        </tr>
    </thead>
    <tbody>
        @{
            int pontuacao = 0;
         }
        @foreach(var q in Model)
        {
            <tr>
                <td>
                    @q.Jogador.NomeJogador
                </td>
                <td>
                    @q.Bandeira.NomePais
                </td>
                <td>
                    @q.Resposta.NomePais
                </td>
                <td>
                    @if (q.Bandeira.Equals(q.Resposta))
                    {
                        pontuacao = pontuacao + 10;
                        <text>10</text>
                    }
                    else
                    {
                        <text>0</text>
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="3">
                <p class="text-right">Total</p>
            </td>
            <td colspan="4">
                @pontuacao
            </td>
        </tr>
        
    </tbody>
</table>
@if (Model.Count < 10)
{
    int ordem = Model.Count + 1;
    @Html.ActionLink("Continuar", "Index", new { idJogador = Model.First().Jogador.Id, ordem = ordem })
}
